<%- include('../globals/header-nonav.ejs'); %>
<div class="row justify-content-md-center">
	<div class="col-6 panel">

		<div class="login">
			<h1>Register</h1>
			<form action="/register" method="post">
				<i class="fas fa-user"></i> <input type="text" name="email" placeholder="Email Address" id="email" required> <br>
				<i class="fas fa-user"></i> <input type="text" name="username" placeholder="Username" id="username" required> <br>
				<i class="fas fa-lock"></i> <input type="password" name="password" placeholder="Password" id="password" required> <br>
				<i class="fas fa-lock"></i> <input type="password" name="password2" placeholder="ConfirmPassword" id="password" required> <br>
				<input type="submit" value="Register">
			</form>
		</div>

	</div>
</div>