* {
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #ff91a4;
}
a:hover {
    color: #fff;
}

.background {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.background img {
    width: 100vw;
    height: 100vh;
}

.navbar {
    margin-bottom: 16px;
    height: 56px;
    width: calc(100% - 64px);
    position: fixed;
    top: 0;
    left: 76px;
    z-index: 9001;
}

.sidebar {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 100vh !important;
    padding-left: 24px;
    padding-top: 18px;
}

.nav-item {
    padding-bottom: 24px;
}

.icon {
    margin-bottom: 28px;
}

ul {
    list-style-type: none;
}

.container-fluid {
    margin-top: 78px;
}
.with-sidebar {
    margin-left: -256px;
}

.sidepanel {
    float: right;
    position: fixed;
    right: 15%;
    text-align: center;
    padding-top: 8px;
    margin-top: -7px;
    margin-bottom: 48px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

.postbox {
    margin-right: -24px;
    width: calc(86% - 4px) !important;
}

.postbox textarea {
    background: none;
    height: 72px;
    font-size: 12pt !important;
    margin-bottom: 4px;
    letter-spacing: 2px;
    padding: 8px;
    resize: none;
}

.postbox input[type="submit"] {
    width: 64px !important;
    height: 42px;
    float: right;
    z-index: 10;
}

.panel-avatar {
    width: 84px;
}
.panel-avatar img {
    width: 72px;
    height: auto;
    border-radius: 100px;
}
.panel {
    padding: 12px;
    padding-top: 4px;
    margin-right: -16px;
}
.panel a {
    font-weight: bold;
    text-decoration: none;
}
.panel-ident {
    float: left;
}
.panel-postdate {
    float: right;
}
.smalltext, .smalltext a {
    font-size: 10pt;
    color: #888;
}
.postcontent {
    font-size: 10pt;
    padding-bottom: 8px;
}