<div class="row">
	<div class="panel-avatar" style="margin-right: 8px;">
		<img src='https://i.imgur.com/DQjk1zB.png'>
	</div>
	<div class="panel col-10">
		<span class="panel-ident">
			<a href="/djxnzi" class="gray-text">
				djxnzi
				<span class="smalltext">@djxnzi</span>
			</a>
		</span>
		<span class="panel-postdate">
			<span class="smalltext">
				<a href="/djxnzi/slug">Postdate</a>
			</span>
		</span>
		<br>
		<div class="postcontent">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget nulla purus. Sed convallis convallis magna, eu consectetur velit hendrerit et. Praesent tincidunt felis eros, non eleifend lorem ultricies at. Curabitur scelerisque pretium turpis a ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam iaculis, lectus vitae condimentum dignissim, enim erat efficitur elit, nec porttitor nisl mauris sit amet neque. Quisque vitae convallis urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi ultricies, diam nec finibus interdum, purus sem vulputate nisi, eu mattis purus odio ut magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ullamcorper eros pretium, ullamcorper neque in, sodales nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse commodo magna id elementum malesuada.
		</div>

		<div class="row justify-content-md-center text-center">
			<div class="col">
				<i class="fa-solid fa-chevron-up"></i> &nbsp;
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="col">
				<i class="fa-solid fa-retweet"></i>
			</div>
			<div class="col">
				<i class="fa-regular fa-comment"></i>
			</div>
		</div>

	</div>
</div>