<%- include('../globals/header.ejs'); %>
<div class="row justify-content-md-center">
	<div class="col-6 panel">

		You have successfully registered your account, you will be redirected to the login page momentarily.

	</div>
</div>

<script>
	setTimeout(function () {
		window.location = "/login";
	}, 5000)
</script>