<%- include('../globals/header.ejs'); %>
<div class="row justify-content-md-center">
	<div class="col-9 panel">
		Roadmap: <br><br>

		* <s>User registration</s> sort of done <br>
		* <s>user profiles</s> ready for more code <br>
		* User Logins <br>
		* Posting <br>
		* Display posts <br>
		* Global posts page <br>
		* Automatically add new posts to feed <br>
		* Edit profiles <br>
		* Privacy functions <br>
		* Likes <br>
		* Notifications <br>
		* Top posts page <br>
		* Reposts <br>
		* Search function <br>
		* Side panel who to follow <br>
		* Side panel random sfw image <br>
		* Side panel trends <br>
		* Reports <br>
		* User ranks <br><br>

		* Admin panel <br>
		* Stats <br>
		* User search <br>
		* Edit profile <br>
		* Alerts <br>
		* Ban table <br>
		* Rate limits <br><br>

		* Post types <br>
		* Image for dA page <br>
		* Audio for SC page <br><br>

		* Support forum <br>
		* Chat <br><br>
	</div>
</div>